<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load staticfiles %}
{% load sugestao_extras %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block head%}
	<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
	<script>
		tinymce.init({
			selector: 'textarea',
			theme: 'modern',
			language: 'pt_BR',
			plugins: [
				'advlist autolink lists link image charmap print preview hr anchor pagebreak spellchecker',
				'searchreplace wordcount visualblocks visualchars code fullscreen',
				'insertdatetime media nonbreaking save table contextmenu directionality',
				'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
			],
			toolbar1: 'spellchecker | undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
			toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
			image_advtab: true,
			templates: [
				{ title: 'Test template 1', content: 'Test 1' },
				{ title: 'Test template 2', content: 'Test 2' }
			],
			browser_spellcheck : true,
		});
	</script>
{%endblock%}

{%block top%}
	{% if request.session.nomesugestao%}
			<h1>{{request.session.nomesugestao}}</h1>
			<a href="{% url 'Logout' %}"><h2>Sair</h2></a>
		{%endif%}
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li>
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li>
                    {% if item == 'logo' %}
                        <div id="hidemenu">
                            <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                        </div>
                    {% elif item == 'sair' %}
                        <div id="hidemenusair">
                            <div class="background-nome">
                                {% if request.session.nomesugestao %}
                                    <h1>{{request.session.nomesugestao}}</h1>
                                    <a href="{% url 'Logout' %}"><h2>Sair</h2></a>
                                {%else%}
                                    <h1>Faça Login</h1>
                                {%endif%}
                            </div>
                        </div>
                    {% else %}
                        <a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
                            <div class="item-menu">
                                <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                                <p>{{item}}</p>
                            </div>
                        </a>
                    {% endif %}
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}

{%block conteudo%}
    <div class="cartao">
        <img src="{% static 'images/teste-email.png' %}" alt="" width="70"/>
        <h1>Teste de E-mail</h1>
        <br>
        <div class="navegation_bar">
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'Administracao' %}">Administração</a>
            <a href="{% url 'ConfigEmail' %}">Conf.Email</a>
            <a id="navegation_bar_selected" href="{% url 'ConfigEmailTest' %}">Testar</a>
        </div>
        <br>
        <div class="formulario">
            <form enctype="multipart/form-data" method="post" action="{% url 'ConfigEmailTest' %}"> {%csrf_token%}
                {{form.as_p}}
                <p><input type="submit" name="commit" value="Enviar" id="botao" ></p>
            </form>
        </div>
    </div>

     <script>
        function mostrarocultar(mostrar, ocultar){
            $("#"+mostrar).show(500);
            document.getElementById(ocultar).style.display = "none";
        }
        function ocultarmostrar(mostrar, ocultar){
            $("#"+ocultar).hide(500);
            $("#"+mostrar).show(500);
        }
        function  mostrar(ID){
            document.getElementById(ID).style.display = "block";

        }
        function  ocultar(ID){
            document.getElementById(ID).style.display = "none";
            $("#"+ID).hide("slow");
        }
    </script>

    {% if messages %}
        <div class="msg-popup-container">
            {% for message in messages %}
                <div id="{{ forloop.counter0 }}" class="msg-popup {{ message.tags }}">
                    <img src="{% static 'images/'%}{{ message.tags }}.png" alt="" width="70" height="70"/>
                    <p>{{ message }}</p>
                    <a onclick="ocultar('{{ forloop.counter0 }}')">x</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{%endblock%}
