<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load staticfiles %}
{% load sugestao_extras %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
	{% if request.session.nomesugestao %}
		<h1>{{request.session.nomesugestao}}</h1>
		<a href="{% url 'Logout' %}"><h2>Sair</h2></a>
	{%else%}
		<h1>Faça Login</h1>
	{%endif%}
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li>
                    {% if item == 'logo' %}
                        <div id="hidemenu">
                            <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                        </div>
                    {% elif item == 'sair' %}
                        <div id="hidemenusair">
                            <div class="background-nome">
                                {% if request.session.nomesugestao %}
                                    <h1>{{request.session.nomesugestao}}</h1>
                                    <a href="{% url 'Logout' %}"><h2>Sair</h2></a>
                                {%else%}
                                    <h1>Faça Login</h1>
                                {%endif%}
                            </div>
                        </div>
                    {% else %}
                        <a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
                            <div class="item-menu">
                                <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                                <p>{{item}}</p>
                            </div>
                        </a>
                    {% endif %}
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}
	
{%block conteudo%}
    <div class="card-progressao">
        <div class="progressao">
            <a href="{% url 'CadastroSetor' 'cadastro' %}" title="Cadastrar Novo Setor">
                <div class="botao-circulo">
                    <img src="{% static 'images/add24.png' %}" alt="" width="24">
                </div>
            </a>
            <!--- <h1>Alunos</h1> --->
        </div>
        <div class="progressao-rotulo">
            <h1>Gerenciar Setores</h1>
        </div>
        <div class="card-progressao-container">
            <div class="navegation_bar">
                <a href="{% url 'Home' %}">Home</a>
                <a href="{% url 'Administracao' %}">Administração</a>
                <a id="navegation_bar_selected" href="{% url 'GerenciarSetores' %}">Gerenciar Setores</a>
            </div>
            <table id="minhaTabela">
                <thead>
                    <tr id="tr-no-shadow">
                        <th>Nome</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody>
                    {%for setor in setores%}
                        <tr>
                            <td id="td-vermelho"><a href="{% url 'CadastroSetor' setor.id %}">{{ setor.nome }}</a></td>
                            <td><a href="{% url 'CadastroSetor' setor.id %}">{{ setor.responsavel.nome }}</a></td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#minhaTabela').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": true,
                "bAutoWidth": true,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                    "sNext": "»",
                    "sPrevious": "«",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                    }
                },
            });
        });
    </script>

    <script>
        function mostrarocultar(mostrar, ocultar){
            $("#"+mostrar).show(500);
            document.getElementById(ocultar).style.display = "none";
        }
        function ocultarmostrar(mostrar, ocultar){
            $("#"+ocultar).hide(500);
            $("#"+mostrar).show(500);
        }
        function  mostrar(ID){
            document.getElementById(ID).style.display = "block";

        }
        function  ocultar(ID){
            document.getElementById(ID).style.display = "none";
            $("#"+ID).hide("slow");
        }
    </script>

    {% if messages %}
        <div class="msg-popup-container">
            {% for message in messages %}
                <div id="{{ forloop.counter0 }}" class="msg-popup {{ message.tags }}">
                    <img src="{% static 'images/'%}{{ message.tags }}.png" alt="" width="70" height="70"/>
                    <p>{{ message }}</p>
                    <a onclick="ocultar('{{ forloop.counter0 }}')">x</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{%endblock%}

