{% load staticfiles %}
{% load sugestao_extras %}
{% load pagination_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Sugestão</title>
        <style>
            p {
                font-size: 2em;
            }

            a {
                border-radius: 10px;
                font-size: 2em;
                background: #00695c;
                border-bottom: 10px solid #004d40;
                text-decoration: none;
                color: white;
                padding: 15px;
            }

            a:hover {
                background: #028171;
                border-bottom: 10px solid #025e4f;
            }

		</style>
    </head>
    <body>

    <div style="background: #004d4030; width: 100%; height: 100%;">
        <div style="background: #00695c; border-top: 10px solid #004d40; color: white; text-align: center; padding: 5px;">
            <p><img src="https://campusparaiso.ifto.edu.br{% static 'images/sugestaologo.png' %}" alt="" style="width: 150px; border-radius: 100%; box-shadow: 0px 0px 9px rgba(0,0,0,0.3);"/></p>
            <h1>{{titulo}}</h1>
        </div>
        <div style="background: white; padding: 5px;">
            <p>Sugestão: <b>{{ id }}</b></p>
            <a href="https://campusparaiso.ifto.edu.br{% url 'DetalharSugestao' id senha %}">Visualizar </a>
            <p>Finalizado por: {{ pessoa }}</p>
            <div style="border-radius: 0px; padding: 15px; border: 1px solid #004d40;">
                <p>Finalização: {{ descricao|safe }}</p>
            </div>
            <br>
        </div>
        <div style="background: #00695c; width: 100%; border-bottom: 10px solid #004d40; padding: 5px; text-align: center; color: white;">
            <p>CGTI - 63 3361-0314</p>
        </div>
    </div>
    </body>
</html>
