{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#004d40">
		<meta name="apple-mobile-web-app-status-bar-style" content="#004d40">
		<meta name="msapplication-navbutton-color" content="#004d40">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<link rel="icon" href="{% static 'images/favicon.ico' %}" />
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<title>{%block titulo%}{%endblock%}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" media = "print" href="{% static 'css/print.css' %}">
		<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>	
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>	
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		{%block head%}
		{%endblock%}
	</head>
	
	<body>
		<div class="bar-top">
			{%block top%}
			
			{%endblock%}
		</div>
		
		<a id="header" href="{% url 'Home' %}">
			<div class="header">

			</div>
            <div class="header-container-img">
                <img alt="" src="{% static 'images/sugestaologo.png' %}">
            </div>
		</a>

		<div id="menu" class="menu">
			<input type="checkbox" id="control-nav" onclick="toggleBoxIndex()"/>
			<label for="control-nav" class="control-nav"></label>
			<label for="control-nav" class="control-nav-close"></label>
			<div class="conteiner-menu">
				<nav>
					<ul>
						{%block menu%}

						{%endblock%}
					</ul>
				</nav>
			</div>
		</div>
		
		<div class="container-geral">
			{%block conteudo%}
				
			{%endblock%}
		</div>
		
		<div class="footer">
			CGTI - IFTO - Campus de Paraíso do Tocantins
		</div>
	</body>

    <script>
		$(function(){
			var nav = $('#menu');
			$(window).scroll(function () {
				if ($(this).scrollTop() > 148) {
					nav.addClass("menu-fixo");
				} else {
					nav.removeClass("menu-fixo");
				}
			});
		});

		function toggleBoxIndex() {
			var nav = $('#menu');
			if (document.getElementById("control-nav").checked == true) {

				nav.addClass("menu-to-top");

			}
			else {

				nav.removeClass("menu-to-top");

			}
		}
	</script>
</html>
